__pycache__
data/*
clip_ckpts
results
logs
.DS_Store
*.o
*.so
*.pyx
*.egg-info
*.pt
*.sub
*.txt
OPENAI_API_KEY
cores/lib/freqencoder/build
cores/lib/gridencoder/build
cores/lib/freqencoder/dist
cores/lib/gridencoder/dist
thirdparties/GroundingDINO
thirdparties/MODNet
thirdparties/nvdiffrast
examples/multi_concepts/*