test_mv_range/*
data/**
thirdparties/**.pth
results/
output/
outputs/
thirdparties/*
__pycache__
data/*
!data/human
clip_ckpts
results
logs
.DS_Store
*.o
*.so
*.pyx
*.pyc
*.egg-info
*.pt
*.txt
.vscode/settings.json
tmp
wandb
OPENAI_API_KEY
cores/lib/freqencoder/build
cores/lib/gridencoder/build
cores/lib/freqencoder/dist
cores/lib/gridencoder/dist
thirdparties/GroundingDINO/
thirdparties/MODNet/
thirdparties/nvdiffrast/
thirdparties/peft/
thirdparties/DSINE/
examples/multi_concepts/*
!requirements.txt
