accelerate
albumentations
boto3
chumpy
dataclasses
dearpygui
diffusers
einops
imageio-ffmpeg
imageio
kornia
lpips
matplotlib
mediapipe
ninja
omegaconf
open3d
opencv_contrib_python
opencv-python
packaging
protobuf
pudb
pyfqmr
PyMCubes
pymeshfix
pymeshlab
PyOpenGL
pyrender
pyrr
pytorch-lightning==2.1.0
pyvista
replicate
rich
rtree
scikit-image
scikit-learn
streamlit
tensorboardX
test-tube
tetgen
torch-ema
torch-fidelity
torchmetrics
transformers
trimesh
xatlas
yapf
autoflake
datasets
cchardet
chardet
openai
func_timeout
ultralytics
sentencepiece
deepspeed
flash_attn
openpyxl
xformers
face_alignment
git+https://github.com/openai/CLIP.git@main#egg=clip
git+https://github.com/marian42/mesh_to_sdf.git
git+https://github.com/YuliangXiu/taming-transformers.git